{% extends "base.html" %} {% block title %}Edit Expense{% endblock %} {% block
content %}
<h1>Edit Expense</h1>
<form
  method="POST"
  action="{{ url_for('edit_expense', expense_id=expense_id) }}"
>
  {{ form.hidden_tag() }}
  <div>
    {{ form.amount.label }} {{ form.amount(class="form-control") }} {% for error
    in form.amount.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.description.label }} {{ form.description(class="form-control") }} {%
    for error in form.description.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.category.label }} {{ form.category(class="form-control") }} {% for
    error in form.category.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.date.label }} {{ form.date(class="form-control", type="date") }} {%
    for error in form.date.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>
  <div>{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endblock %}
