{% extends "base.html" %} {% block title %}Register{% endblock %} {% block
content %}
<div class="card auth-form">
  <h1><i data-feather="user-plus"></i> Register</h1>
  <form method="POST" action="{{ url_for('register') }}" id="register-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label }} {{ form.username(size=32, class="form-control")
      }} {% for error in form.username.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.email.label }} {{ form.email(size=64, class="form-control") }} {%
      for error in form.email.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }} {{ form.password(size=32, class="form-control")
      }} {% for error in form.password.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label }} {{ form.confirm_password(size=32,
      class="form-control") }} {% for error in form.confirm_password.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">{{ form.submit(class="btn btn-primary") }}</div>
  </form>
  <p>
    Already have an account? <a href="{{ url_for('login') }}">Login here</a>
  </p>
</div>
{% endblock %}
